{% extends  'base.html' %}

{% block content %}
<form class="row g-3">
    <div class="col-md-6">
        <label for="product_name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="product_name" name="product_name">
    </div>
    <div class="col-md-3">
        <label for="min_price" class="form-label">Min Price</label>
        <input type="number" class="form-control" id="min_price" name="min_price">
    </div>
    <div class="col-md-3">
        <label for="max_price" class="form-label">Max Price</label>
        <input type="number" class="form-control" id="max_price" name="max_price">
    </div>
    <div class="col-md-6">
        <label for="inputState" class="form-label">Category</label>
        <select id="inputState" name="category" class="form-select">
            <option disabled selected>Choose...</option>
            {% for category in categories %}
            <option value="{{ category.id }}"> {{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-6">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="in_stock" name="in_stock">
      <label class="form-check-label" for="in_stock">In Stock</label>
    </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>


<div class="container">
    <div class="row row-cols-4 mt-3 g-3">
        {% for product in products %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text fw-bold">{{ product.price }} $</p>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Product page</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}