{% extends 'base.html' %}

{% block content %}
<div class="card mb-3 mt-4">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="d-flex">
          <p class="me-3">Views: {{ product.views }} </p>
          <p> 09/12/2024 16:28 </p>
        </div>
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Description: {{ product.description }}</p>
        <div class="d-flex mt-5">
          <a href="{% url 'update_product' product.id %}" type="button" class="btn btn-primary btn-sm">Update</a>
          <a href="{% url 'delete_product' product.id %}" type="button" class="btn btn-danger btn-sm ms-2">Delete Product</a>
        </div>
        <a class="btn btn-success btn-sm mt-3" href="{% url 'add_product_to_cart' product.id%}"> Add To cart </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}